html {
  height: 100%;
}

body {
  font-family:
    IBM Plex Sans,
    sans-serif;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: black;
}

/* Header specific style */
header {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 36px 12px 36px;
  grid-row: 1 / 2;
  align-self: center;
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
}

header a {
  grid-column-start: 1;
  grid-column-end: 2;
}

header a {
  color: #9e9e9e;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
}

#current {
  color: white;
}

header a:focus,
header a:hover,
header a:active {
  background-image: linear-gradient(
    to top,
    green,
    green 0.15em,
    transparent 0.15em,
    transparent
  );
  color: white;
}

/* Footer specific styles */
footer {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 36px 12px;
  grid-row: 3 / 4;
  color: #9e9e9e;
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
}

footer small {
  grid-column-start: 1;
  grid-column-end: 2;
}

/* Top and Bottom Nav Bars specific content */
nav {
  min-width: 60%;
  margin-left: auto;
  grid-column-start: 2;
  grid-column-end: 3;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

nav ul li {
  margin: 0 1rem 0 0;
}

#content {
  grid-row: 2 / 3;
  height: 100%;
}

#content h1,
#content p,
#content a:link {
  color: white;
  font-weight: normal;
}

.homepage {
  max-width: 768px;
  margin: 0 auto;
}

.homepage p {
  font-size: 18px;
  line-height: 1.68rem;
}

#content a:link {
  text-decoration: none;
  font-weight: bolder;
  background-image: linear-gradient(
    to top,
    green,
    green 0.15em,
    transparent 0.15em,
    transparent
  );
}

#content a:visited {
  color: lightgray;
}

#content a:focus,
#content a:hover,
#content a:active {
  color: green;
  background-image: none;
}

#content #trackit:link,
#content #trackit:visited {
  background-image: linear-gradient(
    to top,
    red,
    red 0.15em,
    transparent 0.15em,
    transparent
  );
}

#content #trackit:focus,
#content #trackit:hover,
#content #trackit:active {
  color: red;
  background-image: none;
}

#content #epitech:link,
#content #epitech:visited {
  background-image: linear-gradient(
    to top,
    dodgerblue,
    dodgerblue 0.15em,
    transparent 0.15em,
    transparent
  );
}

#content #epitech:focus,
#content #epitech:hover,
#content #epitech:active {
  color: dodgerblue;
  background-image: none;
}

.projects {
  max-width: 1204px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: #0c1008;
  border: 1px solid #1f1f1f;
  margin: 10px;
  padding: 20px;
  display: flex;
  width: 540px;
  flex-direction: row;
  justify-content: space-between;
}

.project .information {
  max-width: 400px;
}

.project h2 {
  color: white;
  line-height: 0;
}

.project h3,
.project p {
  color: #a1a1a1;
}

.project img {
  width: 100px;
}

.project #pokewatch {
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
}
